
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: Michroma;
  font-size: 10pt;
}
header {
  display: flex;
  padding: 10px 50px;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  background-color: #141414;
  color: white;
}

.search {
  border: white solid 1px;
  border-radius: 20px;
  width: 30%;
  padding: 10px 20px;
  opacity: 0.5;
  font-family: sans-serif;
}

section {
  margin: 3% 5%;
  color: #FFF;
}

p {
  color: #FFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer {
  position: absolute;
  text-align: center;
  color: white;
  bottom: 5%;
  width: 100%;
}

.pop {
  z-index: 100px;
  display: flex;
  margin: auto;
  justify-content: center;
  width: 80%;

  opacity: 0;
  transform: translateY(-50px);
}

.fade-in {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.3s ease-out;
}

#pop-up .content {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: solid rgba(255, 255, 255, 0.484) 2px;
  background-color: rgba(0, 0, 0, 0.109);
  width: 100%;
  gap: 30px;
  border-radius: 10px;
  backdrop-filter: blur(50px);

}

.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.icon {
    background-color: #141414;
    width: 50px;
    height: 50px;
    border-radius: 30%;
    padding: 5px;
    align-items: center;
    display: flex;
    vertical-align: center;
  }

.sticky-note {
  position: absolute;
  background-color: #FFFF99;
  left: 75%;
  top: 30%;
  padding: 50px;
  width: fit-content;
}
.sticky-note p {
  font-family: 'Courier New', Courier, monospace;
  color: black;
}

.sticky-note h2 {
  font-family: 'Courier New', Courier, monospace;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

.background {
  background-color: #141414;
}
.canvas {
  position: absolute;
  display: block;
  z-index: -100;
  margin: 0;
}

.scene-container {
  display: flex;
  margin-top: 30px;
  flex-direction: row;
  gap: 20px;
  /* flex-wrap: wrap; */
  width: 100%;
}

.scene {
  padding-bottom: 20px;
  /* background-color: #2b2b2b; */
  border-radius: 10px;
  width: 300px;
}

.disabled {
  -webkit-filter: grayscale(1);
  cursor: not-allowed;
}

.scene .thumbnail {
  border-radius: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 200px;
  object-fit: cover;
  /* background-color: #3B7CCB; */
}

.scene .description {
  padding: 5px 20px;
}

#subs {
  width: 60%;
}

#instructions {
  background-color: #2b2b2b;
  max-width: 20%;
  margin-top: 30px;
  border-radius: 10px;
  padding: 20px;
}

.gird {
  display: flex;
}


input[type=text] {
  width: 20%;
  background: none;
  padding: 1% 2%;
  border-radius: 5px;
  color: white;
  border: solid;
  border-width: 2px;
}

input[type=password] {
  width: 20%;
  background: none;
  padding: 1% 2%;
  border-radius: 5px;
  color: white;
  border: solid;
  border-width: 2px;
}

input[type=submit] {
  width: 20%;
  padding: 1%;
  color: white;
  border-radius: 5px;
  background: radial-gradient(200% 230% at -15.06% -25%, #7BE6C4 0%, #3B7CCB 48.88%, #AD3DB5 100%);
  border: none;
}

#login {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: auto;
  gap: 15px;
  margin-top: 100px;
}

.ui {
  position: absolute;
}

.hi {
  top: 30%;
  left: 20%;
}

.there {
  top: 60%;
  left: 70%;
}

.cursor {
  top: 50%;
  left: 50%;
}

.hud-display {
  margin: 2.5%;
  border: solid blue 2px;
  border-radius: 10px;
  width: 95%;
  height: 90%;
}